@using Microsoft.AspNetCore.Identity
@using WebApp1.Areas.Identity.Data
@inject SignInManager<WebApp1User> SignInManager
@inject UserManager<WebApp1User> UserManager

<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{                           <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/StudentOutcomes/Index">Student Outcomes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CourseLearningOutcomesCourses">Course Learning Outcomes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/StudentAssessmentsCourses">Assessments</a>
                        </li>
                       <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Users/Index">Admin</a>
        </li>
    
}

@if (User.Identity.IsAuthenticated && User.IsInRole("abetAccreditation"))
{                           
    <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/StudentOutcomes/Index">Student Outcomes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CourseLearningOutcomesCourses">Course Learning Outcomes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/StudentAssessmentsCourses">Assessments</a>
                        </li>
                       @* <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Users/Index">Admin</a>
        </li> *@
    
}


@if (User.Identity.IsAuthenticated && User.IsInRole("professor"))
{                           <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/StudentOutcomes/Index">Student Outcomes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CourseLearningOutcomesCourses">Course Learning Outcomes</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/StudentAssessmentsCourses">Assessments</a>
                        </li> *@
                       @* <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Users/Index">Admin</a>
        </li> *@
    
}
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserAsync(User).Result.FirstName!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
