@page
@{
    Layout = null;
}
    
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    .login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/Images/main-campus.jpg');
  background-size: cover;
  background-position: center center;
}
</style>
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/site.css" />


<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image">
        
        </div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Log in!</h3>
                            <p class="text-muted mb-4">Welcome Back! Please Sgin In</p>
                            <form id="account" method="post">
                               <div asp-validation-summary="All"  class="text-danger"></div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Input.Email" required="" autofocus="" ></label>
                                        <input asp-for="Input.Email" class="form-control rounded-pill border-0 shadow-sm px-4" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                 <div class="form-group mb-3">
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password"class="form-control rounded-pill border-0 shadow-sm px-4 text-primary" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                <div >
                                   <p class="login-wrapper-footer-text">Don't have an account? <a asp-area="Identity" asp-page="/Account/Register">Register Here!</a></p>
                                </div>

                   

                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign in</button>
                                

                                      <div class="form-group">
                                        <p>
                                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                        </p>
                                        <p>
                                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                        </p>
                                        <p>
                                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                        </p>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
