@page
@{
    Layout = null;
}
    
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<style>
    .login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/Images/main-campus2.jpg');
  background-size: cover;
  background-position: center center;
}
</style>
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/site.css" />


<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image">
        
        </div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Sign in!</h3>
                            <p class="text-muted mb-4">Create a new user Account</p>
                            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                               <div asp-validation-summary="All"  class="text-danger"></div>
                                
                                    <div class="form-group mb-3">
                                        
                                        <label asp-for="Input.FirstName"></label>
                                        <input asp-for="Input.FirstName" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary" />
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                        
                                    </div>
                                    <div class="form-group mb-3">
                                       
                                        <label asp-for="Input.LastName"></label>
                                        <input asp-for="Input.LastName" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary" />
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Input.DOB"></label>
                                        <input asp-for="Input.DOB" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary" />
                                        <span asp-validation-for="Input.DOB" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Input.ConfirmPassword"></label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                   
                                <div >
                                     
                                   <p class="login-wrapper-footer-text">Already have an account? <a asp-area="Identity" asp-page="/Account/Login">Sign in Here!</a></p>
                                </div>
                                                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Register</button>

                   

                              
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>







  
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
