@page
@model WebApp1.Pages.Admin.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WebApp1User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WebApp1User.FirstName" class="control-label"></label>
                <input asp-for="WebApp1User.FirstName" class="form-control" />
                <span asp-validation-for="WebApp1User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebApp1User.LastName" class="control-label"></label>
                <input asp-for="WebApp1User.LastName" class="form-control" />
                <span asp-validation-for="WebApp1User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebApp1User.DOB" class="control-label"></label>
                <input asp-for="WebApp1User.DOB" class="form-control" />
                <span asp-validation-for="WebApp1User.DOB" class="text-danger"></span>
            </div>
          <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" asp-for="WebApp1User.IsAdmin" />
                    <label class="custom-control-label" asp-for="WebApp1User.IsAdmin">
                       @Html.DisplayNameFor(model => model.WebApp1User.IsAdmin)
                    </label>
                </div>
                <span asp-validation-for="WebApp1User.IsAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" asp-for="WebApp1User.IsAbet" />
                    <label class="custom-control-label" asp-for="WebApp1User.IsAbet">
                       @Html.DisplayNameFor(model => model.WebApp1User.IsAbet)
                    </label>
                </div>
                <span asp-validation-for="WebApp1User.IsAbet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" asp-for="WebApp1User.IsProfessor" />
                    <label class="custom-control-label" asp-for="WebApp1User.IsProfessor">
                       @Html.DisplayNameFor(model => model.WebApp1User.IsProfessor)
                    </label>
                </div>
                <span asp-validation-for="WebApp1User.IsProfessor" class="text-danger"></span>
            </div>
            
            <input type="hidden" asp-for="WebApp1User.Id" />
            <div class="form-group">
                <label asp-for="WebApp1User.UserName" class="control-label"></label>
                <input asp-for="WebApp1User.UserName" class="form-control" />
                <span asp-validation-for="WebApp1User.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebApp1User.NormalizedUserName" class="control-label"></label>
                <input asp-for="WebApp1User.NormalizedUserName" class="form-control" />
                <span asp-validation-for="WebApp1User.NormalizedUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebApp1User.Email" class="control-label"></label>
                <input asp-for="WebApp1User.Email" class="form-control" />
                <span asp-validation-for="WebApp1User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebApp1User.NormalizedEmail" class="control-label"></label>
                <input asp-for="WebApp1User.NormalizedEmail" class="form-control" />
                <span asp-validation-for="WebApp1User.NormalizedEmail" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WebApp1User.EmailConfirmed" /> @Html.DisplayNameFor(model => model.WebApp1User.EmailConfirmed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="WebApp1User.PasswordHash" class="control-label"></label>
                <input asp-for="WebApp1User.PasswordHash" class="form-control" />
                <span asp-validation-for="WebApp1User.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebApp1User.SecurityStamp" class="control-label"></label>
                <input asp-for="WebApp1User.SecurityStamp" class="form-control" />
                <span asp-validation-for="WebApp1User.SecurityStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebApp1User.ConcurrencyStamp" class="control-label"></label>
                <input asp-for="WebApp1User.ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="WebApp1User.ConcurrencyStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebApp1User.PhoneNumber" class="control-label"></label>
                <input asp-for="WebApp1User.PhoneNumber" class="form-control" />
                <span asp-validation-for="WebApp1User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WebApp1User.PhoneNumberConfirmed" /> @Html.DisplayNameFor(model => model.WebApp1User.PhoneNumberConfirmed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WebApp1User.TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.WebApp1User.TwoFactorEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="WebApp1User.LockoutEnd" class="control-label"></label>
                <input asp-for="WebApp1User.LockoutEnd" class="form-control" />
                <span asp-validation-for="WebApp1User.LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WebApp1User.LockoutEnabled" /> @Html.DisplayNameFor(model => model.WebApp1User.LockoutEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="WebApp1User.AccessFailedCount" class="control-label"></label>
                <input asp-for="WebApp1User.AccessFailedCount" class="form-control" />
                <span asp-validation-for="WebApp1User.AccessFailedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
