@page
@model WebApp1.Pages.Admin.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].IsAdmin)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].IsAbet)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].IsProfessor)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].UserName)
            </th> *@
            @* <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].NormalizedUserName)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].Email)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].NormalizedEmail)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].EmailConfirmed)
            </th>
           <!-- <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].SecurityStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].ConcurrencyStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].PhoneNumberConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].TwoFactorEnabled)
            </th>
            -->
            @* <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].LockoutEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].LockoutEnabled)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.WebApp1User[0].AccessFailedCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WebApp1User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAbet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProfessor)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.NormalizedUserName)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.NormalizedEmail)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            
            
            @* <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
