@page
@model WebApp1.Pages.Assessments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StudentAssessments</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAssessments.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentAssessments.Course)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAssessments.Instructor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentAssessments.Instructor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAssessments.Assessment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentAssessments.Assessment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAssessments.TotalStudents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentAssessments.TotalStudents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAssessments.CompleteLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentAssessments.CompleteLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAssessments.SatisfactoryLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentAssessments.SatisfactoryLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAssessments.NotMet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentAssessments.NotMet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAssessments.NotMeasurable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentAssessments.NotMeasurable)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="StudentAssessments.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
