@page
@model WebApp1.Pages.Assessments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<p>
    <a asp-page="/Assessments/Index">View All</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Course
            </th>
            <th>
                Instructor
            </th>
            <th>
                Assessment
            </th>
            <th>
                Total Students
            </th>
            <th>
                Complete Level
            </th>
            <th>
                Satisfactory Level
            </th>
            <th>
                Not Met
            </th>
            <th>
                Not Measurable
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StudentAssessmentData.StudentAssessments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assessment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalStudents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompleteLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SatisfactoryLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotMet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotMeasurable)
            </td>
            <td>
                <a asp-action="Index" asp-route-SelectedCourse="@item.Course">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.StudentAssessmentData.CourseLearningOutcomes != null)
{
    <h3>Course Learning Outcomes of Selected Course</h3>
    <table class="table">
        <tr>
            <th>Program</th>
            <th>Course</th>
            <th>Instructor</th>
            <th>CourseLearningOutcomesDescription</th>
        </tr>

         @foreach (var item in Model.StudentAssessmentData.CourseLearningOutcomes)
        {
            <tr>
                <td>
                    @item.Program
                </td>
                <td>
                    @item.Course
                </td>
                <td>
                    @item.Instructor
                </td>
                <td>
                    @item.CourseLearningOutcomeDescription
                </td>
            </tr>
        }
    </table>
}
