@page
@model WebApp1.Pages.CourseLearningOutcomes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CourseLearningOutcome</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.Program)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.Program)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.Course)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.Instructor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.Instructor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.CourseLearningOutcomeDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.CourseLearningOutcomeDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.TotalStudents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.TotalStudents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.CompleteLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.CompleteLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.SatisfactoryLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.SatisfactoryLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.NotMet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.NotMet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.NotMeasurable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.NotMeasurable)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CourseLearningOutcome.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
