@page
@model WebApp1.Pages.CourseLearningOutcomes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CourseLearningOutcome</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.Program)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.Program)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.Course)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.Instructor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.Instructor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.CourseLearningOutcomeDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.CourseLearningOutcomeDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.TotalStudents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.TotalStudents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.CompleteLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.CompleteLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.SatisfactoryLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.SatisfactoryLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.NotMet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.NotMet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLearningOutcome.NotMeasurable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLearningOutcome.NotMeasurable)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CourseLearningOutcome.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
