@page
@model WebApp1.Pages.CourseLearningOutcomes.IndexModel

@{
    ViewData["Title"] = "Index";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("IsProfessor"))
{

<h1>Course Learning Outcomes</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<p>
    <a asp-page="/CourseLearningOutcomes/Index">View All</a>
</p>
}
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Program
                        </th>
                        <th>
                            Course
                        </th>
                        <th>
                            Instructor
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Total Students
                        </th>
                        <th>
                            Complete Level
                        </th>
                        <th>
                            Satisfactory Level
                        </th>
                        <th>
                            Not Met
                        </th>
                        <th>
                            Not Measurable
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

            @foreach (var item in Model.CourseLearningOutcomesData.CourseLearningOutcomes) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Program)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Instructor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseLearningOutcomeDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalStudents)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompleteLevel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SatisfactoryLevel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NotMet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NotMeasurable)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
            }

    </tbody>
</table>
