@page
@model WebApp1.Pages.StudentOutcomes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentOutcome</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentOutcome.Program)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentOutcome.Program)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentOutcome.StudentOutcomeDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentOutcome.StudentOutcomeDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentOutcome.TotalStudents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentOutcome.TotalStudents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentOutcome.CompleteLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentOutcome.CompleteLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentOutcome.SatisfactoryLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentOutcome.SatisfactoryLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentOutcome.NotMet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentOutcome.NotMet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentOutcome.NotMeasurable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentOutcome.NotMeasurable)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.StudentOutcome.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
