@page
@model WebApp1.Pages.StudentOutcomes.IndexModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<h1>Student Outcomes</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Program
            </th>
            <th>
                StudentOutcomeDescription
            </th>
            <th>
                TotalStudents
            </th>
            <th>
                CompleteLevel
            </th>
            <th>
                SatisfactoryLevel
            </th>
            <th>
                NotMet
            </th>
            <th>
                NotMeasurable
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StudentOutcomesData.StudentOutcome) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Program)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentOutcomeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalStudents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompleteLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SatisfactoryLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotMet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotMeasurable)
            </td>
            <td>
                <a asp-action="Index" asp-route-SelectedProgram="@item.Program">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.StudentOutcomesData.CourseLearningOutcomes != null)
{
    <h3>Course Learning Outcomes of Program</h3>
    <table class="table">
        <tr>
            <th>Program</th>
            <th>Course</th>
            <th>Instructor</th>
            <th>CourseLearningOutcomesDescription</th>
        </tr>

         @foreach (var item in Model.StudentOutcomesData.CourseLearningOutcomes)
        {
            <tr>
                <td>
                    @item.Program
                </td>
                <td>
                    @item.Course
                </td>
                <td>
                    @item.Instructor
                </td>
                <td>
                    @item.CourseLearningOutcomeDescription
                </td>
            </tr>
        }
    </table>
}
