@page
@model WebApp1.Pages.CoursesModel

@{
    ViewData["Title"] = "Index";
}

<h1>Course Learning Outcomes Courses</h1>

<p>
    <a asp-page="/CourseLearningOutcomes/Index">View All</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseLearningOutcome[0].Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CourseLearningOutcome.GroupBy(m => m.Course).Select(g => g.First())) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            
            <td>
                <a asp-page="/CourseLearningOutcomes/Index" asp-route-Course="@item.Course">Select</a>
            </td>
        </tr>
}
    </tbody>
</table>