﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style=" color:white">ABET Accredidation Project</h1>
    <p style=" color:white">Savage & Average <br> CIDM 4390</p>
</div>

<iframe src="//player.vimeo.com/video/125739430?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;playbar=0&amp;loop=1&amp;autoplay=1&amp;muted=1&amp;background=1&amp;player_id=okplayer" frameborder="0" style="position: absolute; left: -10%; top: -10%; overflow: hidden; z-index: -999; height: 120%; width: 120%; visibility: visible; background-color: black;" id="okplayer"></iframe>
